<style>
    #filters {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .filter {
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
    }

    .filter:hover {
        opacity: 1;
        cursor: pointer;
    }

    .filter p {
        font-size: 0.8rem;
    }

    .tax-info {
        display: none;
        transition: opacity 0.3s ease;
        opacity: 0;
    }

    .tax-info.show {
        display: inline;
        opacity: 1;
    }

    .tax-toggle {
        border: 1px solid black;
        border-radius: 1rem;
        height: 3.25rem;
        padding: 1rem;
        margin-left: 2rem;
        display: flex;
        align-items: center;
    }
</style>

<div id="filters">
    <div class="filter" data-category="trending">
        <div><i class="fa-solid fa-fire"></i> </div>
        <p>Trending</p>
    </div>

    <div class="filter" data-category="room">
        <div><i class="fa-solid fa-bed"></i> </div>
        <p>Room</p>
    </div>

    <div class="filter" data-category="iconic cities">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
    </div>

    <div class="filter" data-category="mountains">
        <div><i class="fa-solid fa-mountain-sun"></i></div>
        <p>Mountains</p>
    </div>

    <div class="filter" data-category="castles">
        <div><i class="fa-brands fa-fort-awesome"> </i></div>
        <p>Castles</p>
    </div>

    <div class="filter" data-category="arctic">
        <div><i class="fa-solid fa-snowman"></i></div>
        <p>Arctic</p>
    </div>

    <div class="filter" data-category="farms">
        <div><i class="fa-solid fa-tractor"></i></div>
        <p>Farms</p>
    </div>

    <div class="filter" data-category="camping">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
    </div>

    <div class="filter" data-category="dome">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p>Dome</p>
    </div>

    <div class="filter" data-category="ship">
        <div><i class="fa-solid fa-ship"></i></div>
        <p>Ship</p>
    </div>

    <div class="tax-toggle">

        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
            <label class="form-check-label" for="switchCheckDefault">Display total after taxes </label>
        </div>

    </div>
</div>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for(let listing of allListings) { %>
        <a href="/listings/<%= listing._id %>" class="listing-links">
            <div class="card col listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="listing image" style="height: 20rem;">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text">
                        <strong>
                            <%= listing.title %>
                        </strong> <br>
                        <% if (listing.price && !isNaN(listing.price)) { %>
                            &#8377; <%= Number(listing.price).toLocaleString("en-IN") %> / night
                                <i class="tax-info">&nbsp; &nbsp; + 18% GST</i>
                                <% } else { %>
                                    <em>Price not available</em>
                                    <% } %>
                    </p>
                    <!-- <a href="/listings/<%= listing._id %>" class="btn btn-primary">View Listing</a> -->
                </div>
            </div>
        </a>
        <% } %>
</div>

<script>
    let taxSwitch = document.getElementById("switchCheckDefault")
    taxSwitch.addEventListener("click", () => {
        let taxInfo = document.getElementsByClassName("tax-info")
        for (let info of taxInfo) {
            info.classList.toggle("show");
        }
    })

    let filters = document.querySelectorAll(".filter");

    filters.forEach(filter => {
        filter.addEventListener("click", () => {
            let category = filter.getAttribute("data-category");
            window.location.href = `/listings/filter?category=${encodeURIComponent(category)}`;
        });
    });
</script>